
:root {
  --dark-grey: #272838;
  --light-green: #56E39F;
  --green: #59C9A5;
  --white: #ffffff;
  
  --theme-bg: rgba(0,0,0,0.03);
  font-size: 16px;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--white);
}

header img{
  padding: 10px 0 10px 0;
  height: 30px;
}
body {
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
  line-height: 1.5;
  text-align: left;
  background-color: var(--theme-bg);
}

.hero{
  background: var(--white); 
  height: 35vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.hero h1{
  display: flex;
  margin: 0 0 0 0em;
  color: var(--dark-grey);
  line-height:1;
  font-size: 2.5rem;
  font-weight: 100;
}
.hero p{
  display: flex;
  margin: 0 0 4em 0em;
  color: #ffffff;
  font-size: 12pt;
}
.course-desc{
  height: 30vh;
  background-color: var(--white);
  margin:0;
  padding: 0rem 12rem 1em 12rem;
  text-align: center;
}
.course-desc p{
  margin:0;
}
.mod-video{
  background-color: var(--white);
  margin:0;
  padding: 0rem 12rem 1em 12rem;
  text-align: center;
}
.mod-video .col.video{
  width:60%;
}
.mod-video h1{
  margin-top:0;
  padding-top:20px;
  margin-bottom:10px;
  text-transform: uppercase;
  font-weight:200;
  border-bottom: 1px solid var(--light-green);
  padding-bottom: 3px;
}
.mod-video p{
  margin-bottom:0;
}
.mod-video a{
  color: var(--green);
  text-decoration: none;
  font-weight: 600;
}
.row.module{
  margin-top:0;
}
.row.module h2{
  margin-top:0;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-color: var(--light-green);
}
.row.module a{
 color: var(--green);
 text-decoration: none;
 font-weight:400;
}

.col.desc.module{
  padding:0;
}
.grid{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding: 4rem 12rem 2rem 12rem;
}

.row{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width:100%;
  margin-top: 2rem;
}
.col{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  height: 300px;
}
.col.desc{
  display:flex;
  flex-direction: column;
  width:60%;
  font-size: 1.1rem;
  font-weight: 300;
  padding:1em;
}
.row.vid-desc{
  height: 300px;
}
.row.vid-desc.module{
  margin-top:0;
  height: 200px;
}
.mod-video .row{
  margin-top:0;
  height: 400px;
}
.col.video{
  width:40%;
  padding:1em;
}
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-button{
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
margin-top: -25px;
position: relative;
z-index: 1;
}
.btn{
  padding:1em 2em;
  background-color: var(--green);
  text-decoration: none;
  color: var(--dark-grey);
  font-weight: 600;
  text-transform: uppercase;
}
.btn1{
  margin-right:10px;
}
.center{
  padding: 0 2rem 0 2rem;
}

.white-section{
  display:flex;
  flex-direction: column;
background-color: var(--white);
margin: 0rem 0;
padding: 2rem 12rem;
line-height: 1.8;
color: var(--dark-grey);
}
.white-section h3{
  font-weight: 400;
}
.logo-row{
  margin-top:40px;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
.logo-col img{
  height:60px;
}
.logo-col.gl img{
  height:40px;
}
.logo-col.jhs img{
  height:80px;
}
#text-green{
  color: var(--green);
  font-weight: 600;
}
#author{
  color: var(--white);
  font-weight: 600;
  margin: 0.5rem 2rem 0 2rem;
  line-height: 1;
}
#module-name{
  font-weight: 600;
  color: var(--dark-grey);
  margin: 1rem 1em 0 1rem;;
}


.card{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  background-color: var(--white);
  height:100%;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-decoration: none;
}
.card:hover {
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
.how-banner {
  text-align:center;
  padding: 1rem 0;
}
.how-banner p{
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--light-green);
}
.card-image{
  height: 65%;
  /* background-color: var(--light-green); */
}
.card-text{
  height: 35%;
  width:100%;
  background-color:var(--light-green);
}
.icon {
  display: inline-block;
  height: 100%;
  width:80%;
  background-size: cover;
}
.module1 {
  background-image: url(../img/problem.png);
}
.module2 {
  background-image: url(../img/evidence.png);
}
.module3 {
  background-image: url(../img/network.png);
}
.module4 {
  background-image: url(../img/data.png);
}
.module5 {
  background-image: url(../img/chatbot.png);
}
.module6 {
  background-image: url(../img/funding.png);
}
.module7 {
  background-image: url(../img/experts.png);
}
.module8 {
  background-image: url(../img/crowds.png);
}
.module9 {
  background-image: url(../img/monitoring.png);
}
.module10 {
  background-image: url(../img/secondary.png);
}
.module11 {
  background-image: url(../img/lessons.png);
}
footer{
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(0,0,0);
  color: rgba(255,255,255,0.5);
  font-size: 0.8rem;
  
}
footer img{
  padding: 0 20px 0 20px;
}
footer a{
  color: rgba(255,255,255,0.5);
}
footer p{
  margin:0;
}
@media screen and (min-width: 701px) and (max-width: 1200px){
  .main-button{
    flex-direction: column;
  }
  .row.vid-desc{
    flex-direction: column;
    height: 600px;
  }
  .col.desc{
    display:flex;
    flex-direction: column;
    width:100%;
    font-size: 1.1rem;
    font-weight: 300;
    height: 150px;
  }
  .col.video{
    width:100%;
    padding:1em;
    height: 350px;
  }
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
  }
  .white-section{
    padding: 0 1rem;
  }
  .logo-row{
    flex-direction: column;
  }
  .grid{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 4rem 4rem 4rem 4rem;
  }
}

@media screen and (max-width: 700px){
  .main-button{
    flex-direction: column;
  }
  .btn1{
    margin-right:0;
    margin-bottom:10px;
  }
  .row{
    flex-direction: column;
    height: 100%;
    margin-top:0;
  }
  .col{
    width: 100%;
    margin: 2rem;
  }
  .quote-box{
    padding: 1rem 1rem;
  }
  .course-desc{
    padding: 0rem 3rem 1em 3rem;
  }
  .row.vid-desc{
    flex-direction: column;
    height: 600px;
  }
  .white-section{
    padding: 0 1rem;
  }
  .logo-row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:0;
  }
  .logo-col{
    padding: 2rem 0;
  }

  .col.desc{
    display:flex;
    flex-direction: column;
    width:100%;
    font-size: 1.1rem;
    font-weight: 300;
    height: 150px;
  }
  .col.video{
    width:100%;
    padding:1em;
    height: 350px;
  }
  .video-container {
    position: absolute;
    width: 100%;
    margin-top:0px;
    height: 0;
    
  }
  .video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
  }
  .grid{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem 4rem 1rem;
  }
  footer{
    flex-direction: column;
  }

}